.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background-color: var(--mat-sys-primary);
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 0.7rem 1.4rem;
  border: 2px solid white;
  border-radius: 25px;
  background-color: transparent;

  font-weight: 600;
  font-size: 1rem;

  transition: all 0.3s ease;
}

.navbar a:hover {
  background-color: white;
  color: var(--mat-sys-primary);
  transform: translateY(-3px);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.navbar a:active {
  transform: translateY(0);
  box-shadow: none;
}