<div class="split-layout">

  <div class="image-section"></div>

  <div class="form-section">

    <div class="register-container">

      <h2>Reset password</h2>

      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>

      <div *ngIf="errorMessage" class="login-error">
        {{ errorMessage }}
      </div>
      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
        </div>
      <form
        [formGroup]="form"
        (ngSubmit)="submit()">

        <mat-form-field appearance="outline">

          <mat-label>New password</mat-label>

          <input
            matInput
            type="password"
            formControlName="password">

          <mat-error *ngIf="form.get('password')?.hasError('required')">
            Password is required
          </mat-error>

          <mat-error *ngIf="form.get('password')?.hasError('minlength')">
            Minimum 8 characters
          </mat-error>

        </mat-form-field>

        <mat-form-field appearance="outline">

          <mat-label>Confirm password</mat-label>

          <input
            matInput
            type="password"
            formControlName="confirmPassword">

        </mat-form-field>

        <div
          *ngIf="form.hasError('passwordMismatch')"
          class="login-error">

          Passwords do not match.

        </div>

        <button
          mat-raised-button
          class="submit-btn"
          type="submit"
          [disabled]="form.invalid">

          Reset password

        </button>

      </form>

    </div>

  </div>

</div>